<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <listeners>
        <listener class-name="Retry.RetryListenerClass"></listener>
    </listeners>

    <test verbose="1" preserve-order="false" name="Browser">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Scenarios.CreateAndVerifyAccountsTest"></class>
            <class name="Scenarios.BillPayFeatureTests"></class>
            <class name="Scenarios.ValidationCheckTest"></class>
        </classes>
    </test>

    <test verbose="1" preserve-order="true" name="Headless">
        <parameter name="browserName" value="headless"></parameter>
        <classes>
            <class name="Scenarios.CreateAndVerifyAccountsTest"></class>
            <class name="Scenarios.BillPayFeatureTests"></class>
            <class name="Scenarios.ValidationCheckTest"></class>
        </classes>
    </test>

</suite>